<div class="row" >
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-8" style="background-color: #ffffff">
        <br>
        <form (submit)="store()" role="form" *ngIf="categorias !== null"  [formGroup]="productoGroup">
          <div class="card-header" style="background-color: #2e6da4">
            <h3 style="color: #ffffff">Ingrese la información</h3>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="categoria">
                  * Seleccione categoria
                </label>
                <select name="categoria_id" id="categoria" class="form-control" formControlName="categoria_id">
                  <option [value]="categoria.categoria_id" *ngFor="let categoria of categorias"> {{ categoria.nombre }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="nombre">
                  Ingrese nombre
                </label>
                <input type="text" class="form-control" id="nombre" formControlName="nombre" name="nombre"/>
              </div>
              <div class="form-group">
                <label for="descripcion">
                  Ingrese descripcion
                </label>
                <input type="text" class="form-control" id="descripcion" formControlName="descripcion" name="descripcion"/>
              </div>

              <div class="form-group">
                <label for="material">
                  Ingrese material
                </label>
                <input type="text" class="form-control" id="material" formControlName="material" name="material"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="color1">
                  Ingrese color primario
                </label>
                <input type="color" #color1 class="form-control" id="color1" formControlName="color1" name="color1"/>
              </div>
              <div class="form-group">
                <label for="color2">
                  Ingrese color secundario
                </label>
                <input type="color"  #color2 class="form-control" id="color2" formControlName="color2" name="color2"/>
              </div>

              <div class="form-group">
                <label for="imagen">Seleccione imagen </label>
                <input type="file" class="form-control" #imagen id="imagen" name="imagen" />
              </div>

            </div>
          </div>
          <div class="card-footer" style="background-color: #2a3035">
            <div class="row">
              <div class="col-md-3">
                <button [disabled]="productoGroup.status === 'INVALID'" type="submit" class="btn btn-primary" style="width: 150px">
                  <span class="fa fa-save"></span>
                  Guardar
                </button>
              </div>
              <div class="col-md-3">
                <button type="reset" class="btn btn-success" style="width: 150px">
                  <span class="fa fa-file"></span>
                  Nuevo
                </button>
              </div>
            </div>
          </div>
          <br>
        </form>
      </div>
    </div>
  </div>
</div>
