<div *ngIf="producto !== null" class="row bg-white">
  <div class="col-md-3">
    <div class="gallery-column">
      <img
          [class]="settings.image_id === imagen.imagen_id ? 'gallery-column-active' : 'gallery-column-inactive' "
          (click)="selectImage(imagen.imagen_id)"
          [src]="environment.base + environment.imagen.articulo + imagen.imagen_id"
          *ngFor="let imagen of producto.imagenes" height="250px">
    </div>
  </div>
  <div class="col-md-5">
      <app-image-zoom [settings]="settings"></app-image-zoom>
  </div>
  <div class="col-md-4">
    <div class="product-links">
      <a [routerLink]="['/inicio/productos/' + producto.categoria_id ]">&larr;	Atrás</a>
    </div>
    <h1>{{ producto.nombre }}</h1>
    <h2 *ngIf="selectedInventario !== null"><strong>${{ selectedInventario.precio }}</strong></h2>
    <h3>Tallas</h3>
    <div [class]="selectedInventario !== null && inventario.inventario_id === selectedInventario.inventario_id  ?  'product-size product-size-active' : 'product-size'"
         (click)="generateStock(inventario)" *ngFor="let inventario of producto.inventarios">{{ inventario.talla }}</div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label for="cantidad">Cantidad</label>
          <select [(ngModel)]="cantidad" name="cantidad" id="cantidad" *ngIf="stock.length > 0">
            <option [value]="q.value" *ngFor="let q of stock">{{q.value}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-10" *ngIf="selectedInventario !== null && cantidad !== null">
        <button
          (click)="addCart()"
          class="btn btn-lg btn-rounded btn-danger">Añadir a Carrito</button>
      </div>
    </div>
    <br>
    <h3><strong>Descripción</strong></h3>
    <p>
      {{ producto.descripcion }}
    </p>
  </div>
</div>
