<div *ngIf="producto !== null" class="row bg-white">
  <div class="col-md-3">
    <div class="gallery-column">
      <img
          [class]="settings.image_id === imagen.imagen_id ? 'gallery-column-active' : 'gallery-column-inactive' "
          (click)="selectImage(imagen.imagen_id)"
          [src]="environment.base + environment.imagen.articulo + imagen.imagen_id"
          *ngFor="let imagen of producto.imagenes" height="250px">
    </div>
  </div>
  <div class="col-md-5">
      <app-image-zoom [settings]="settings"></app-image-zoom>
  </div>
  <div class="col-md-4">
    <div class="product-links">
      <a [routerLink]="['/inicio/productos/' + producto.categoria_id ]">&larr;	Atrás</a>
    </div>
    <div class="card text-center">
      <div class="card-header">
        <h2>{{ producto.nombre }}</h2>
      </div>
      <div class="card-body">
<!--        <h4> <a (click)="openDetalles(contenido)" style="color: #ee0000">Guía de tallas</a> </h4>-->

<!--<<<<<<< HEAD
        <h2 *ngIf="selectedInventario !== null"><strong>${{ selectedInventario.precio }}</strong> &nbsp;&nbsp; Canjea &nbsp;{{ selectedInventario.puntos }} puntos</h2>
        <div [class]="selectedInventario !== null && inventario.inventario_id === selectedInventario.inventario_id  ?  'product-size product-size-active' : 'product-size'"
             (click)="generateStock(inventario)" *ngFor="let inventario of producto.inventarios">{{ inventario.talla | uppercase }}</div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="cantidad">Cantidad</label>
              <select [(ngModel)]="cantidad" name="cantidad" id="cantidad" *ngIf="stock.length > 0">
                <option [value]="q.value" *ngFor="let q of stock">{{q.value}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-10" *ngIf="selectedInventario !== null && cantidad !== null">
            <br>
            <button
                    (click)="addCart()"
                    class="btn btn-rounded btn-danger">Añadir a Carrito</button>
          </div>
=======-->
    <h3> <a (click)="openModal()" class="btn-modal">Guía de tallas</a> </h3>
    <div [class]="selectedInventario !== null && inventario.inventario_id === selectedInventario.inventario_id  ?  'product-size product-size-active' : 'product-size'"
         (click)="generateStock(inventario)" *ngFor="let inventario of producto.inventarios">{{ inventario.talla | uppercase }}</div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label for="cantidad">Cantidad</label>
          <select [(ngModel)]="cantidad" name="cantidad" id="cantidad" *ngIf="stock.length > 0">
            <option [value]="q.value" *ngFor="let q of stock">{{q.value}}</option>
          </select>

<!--&gt;>>>>>> 3d71536a9f05881dd77ed74713faff7887956c7e-->
        </div>
      </div>
      <div class="col-md-10" *ngIf="selectedInventario !== null && cantidad !== null">
        <br>
        <button
          (click)="addCart()"
          class="btn btn-rounded btn-danger">Añadir a Carrito</button>
      </div>

      <div class="card-footer text-muted">
        <h4><strong>Descripción: </strong> {{ producto.descripcion }}</h4>
      </div>
    </div>

  </div>
</div>
<div class="overlay" #overlay>
  <div class="popup" #popup>
    <button class="close" (click)="closeModal()">
      <i class="fa fa-times"></i>
    </button>
    <img src="../../../assets/inicio/img/guia.JPG" width="200">
  </div>
</div>
<!--<ng-template #contenido let-modal let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">GUÍA DE TALLAS </h4>
    <button type="button" class="close cerrar" aria-label="Cerrar" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img src="../../../assets/inicio/img/guia.JPG" width="899" alt="">
  </div>
</ng-template>-->
