#btn-menu1 {
  display: none;
}

header label {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.menu1 ul {
  background: #000;
  display: flex;
  list-style: none;
}

.menu1 ul ul {
  display: none;
}

.menu1 a {
  display: block;
  padding: 15px 20px;
  color: #FFF;
  text-decoration: none;
  line-height: 32px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.menu1 a:hover {
  background-color: #cc0000;
}

.menu1 a i {
  margin-left: 10px;
}

.menu1 ul li:hover ul {
  transition: all 0.3s ease;
  display: block;
  position: absolute;
}

@media (max-width: 768px) {
  header label {
    display: block;
    padding-top: 16px;
    padding-right: 16px;
    transition: all 0.4s ease;
  }

  .menu1 {
    position: absolute;
    top: 64px;
    left: 0;
    width: 70%;
    transform: translateX(-100%);
    transition: all 0.3s;
  }

  .menu1 ul {
    flex-direction: column;
  //display: block;
  }

  .menu1 ul li:hover ul {
    display: none;
    position: static;
  }

  .menu1 a i {
    position: absolute;
    right: 16px;
    line-height: 32px;
  }

  #btn-menu1:checked ~ .menu1 {
    transform: translateX(0%);
  }

}

