<!-- HEADER -->
<header>
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i> +593 98 445 9620</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> info@fradoo.com</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i> Quito Ecuador</a></li>
      </ul>
      <ul class="header-links pull-right">
        <li><a href="#"><i class="fa fa-dollar"></i> Puntos</a></li>
        <li><a [routerLink]="['/admin/principal']"><i class="fa fa-user-o"></i> Mi cuenta</a></li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- LOGO -->
        <div class="col-md-3">
          <div class="header-logo">
            <a href="#" class="logo-frado">
              <img src="../../../assets/inicio/img/logo.png" alt="">
            </a>
          </div>
        </div>
        <!-- /LOGO -->

        <!-- SEARCH BAR -->
        <div class="col-md-6">
          <div class="header-search">
            <form>
              <select class="input-select">
                <option value="0">Categorias</option>
                <option value="1">Camisas</option>
                <option value="1">manillas</option>
              </select>
              <input class="input" placeholder="Search here">
              <button class="search-btn">Buscar</button>
            </form>
          </div>
        </div>
        <!-- /SEARCH BAR -->

        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
            <!-- Wishlist -->
            <div>
              <a href="#">
                <i class="fa fa-heart-o"></i>
                <span>Tus Deseos</span>
                <div class="qty">2</div>
              </a>
            </div>
            <!-- /Wishlist -->

            <!-- Cart -->
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                <i class="fa fa-shopping-cart"></i>
                <span>Tú Carrito</span>
                <div class="qty">3</div>
              </a>
              <div class="cart-dropdown">
                <div class="cart-list">
                  <div class="product-widget">
                    <div class="product-img">
                      <img src="../../../assets/inicio/img/product01.png" alt="">
                    </div>
                    <div class="product-body">
                      <h3 class="product-name"><a href="#">product name goes here</a></h3>
                      <h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
                    </div>
                    <button class="delete"><i class="fa fa-close"></i></button>
                  </div>

                  <div class="product-widget">
                    <div class="product-img">
                      <img src="../../../assets/inicio/img/product02.png" alt="">
                    </div>
                    <div class="product-body">
                      <h3 class="product-name"><a href="#">product name goes here</a></h3>
                      <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
                    </div>
                    <button class="delete"><i class="fa fa-close"></i></button>
                  </div>
                </div>
                <div class="cart-summary">
                  <small>3 Item(s) selected</small>
                  <h5>SUBTOTAL: $2940.00</h5>
                </div>
                <div class="cart-btns">
                  <a href="#">View Cart</a>
                  <a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /Cart -->

            <div class="menu-toggle">
              <a href="" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
            <!-- /Menu Toogle -->
          </div>
        </div>
        <!-- /ACCOUNT -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->
<div class="row bg-light">
  <div class="offset-md-4 col-sm-12 col-md-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav text-center">
          <li class="nav-item"><a class="nav-link" href=""><span class="nav-header nav-active">Inicio</span></a></li>
          <li class="nav-item"><a class="nav-link" href=""><span class="nav-header">Las mejores ofertas</span></a></li>
          <li class="nav-item"><a class="nav-link" href=""><span class="nav-header">Categorias</span></a></li>
          <li class="nav-item"><a class="nav-link" href=""><span class="nav-header">Camisas</span></a></li>
          <li class="nav-item"><a class="nav-link" href=""><span class="nav-header">Manillas</span></a></li>
          <li class="nav-item"><a class="nav-link" href=""><span class="nav-header">Accesorios</span></a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
