<div class="row bg-white">
  <div class="col-sm-12 col-md-8">
    <div class="row">
      <div class="offset-2 col-md-8">
        <form action="" method="post" role="form">
          <legend>
            DETALLES DE FACTURACIÓN
          </legend>
          <div class="row">
            <div class="col-md-6">
              <div class="form-field">
                <label for="">Nombres</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-field">
                <label for="">Apellidos</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-field">
                <label for="">Numero de Celular</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-field">
                <label for="">Dirección</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-danger">
                <strong>DETALLE DE DOMICILIO</strong>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-field">
                <label for="">Provincia</label>
                <select class="form-control" name="" id="">
                  <option value="">Lugar 1</option>
                  <option value="">Lugar 2</option>
                  <option value="">Lugar 3</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-field">
                <label for="">Cantón</label>
                <select class="form-control" name="" id="">
                  <option value="">Cantón 1</option>
                  <option value="">Cantón 2</option>
                  <option value="">Cantón 3</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-field">
                <label for="">Calle Principal</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-field">
                <label for="">Intersección</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-field">
                <label for="">Numeración de Domicilio</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-field">
                <label for="">Referencia</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>


          <br>
          <button type="submit" class="btn btn-red btn-rounded">REGISTRAR</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    
  </div>
</div>
