<nav class="product-filter">

  <h1 *ngIf="categoria !== null">{{ categoria.nombre }}</h1>

  <div class="sort">

    <div class="collection-sort">
      <label>Filtrar por:</label>
      <select>
        <option value="/">Todas las camisas</option>
      </select>
    </div>

    <div class="collection-sort">
      <label>Ordenar por:</label>
      <select>
        <option value="/">Color</option>
        <option value="/">Talla</option>
        <option value="/">Precio</option>
      </select>
    </div>

  </div>

</nav>

<section class="products" *ngIf="productos !== null">
  <div class="product-card" *ngFor="let producto of productos">
    <div class="product-image">
      <img [src]="producto.imagen" alt="">
    </div>
    <div class="product-info">
      <h5>{{ producto.nombre }}</h5>
      <h6>{{ producto.descripcion }}</h6>
      <div class="text-center">
        <div class="color" [ngStyle]="{'background-color' : producto.color1}"></div>
        <div class="color" [ngStyle]="{'background-color' : producto.color2}"></div>
      </div>
      <div class="btn-container">
        <button
          [routerLink]="['/inicio/producto/' + producto.producto_id]"
          class="btn btn-rounded btn-danger">Ver {{ producto.nombre }}</button>
      </div>
    </div>
  </div>
</section>
