<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- User profile -->
    <div class="user-profile">
      <!-- User profile image -->
      <div class="profile-img"> <img src="assets/images/users/profile.png" alt="user" width="200"/>
        <!-- this is blinking heartbit-->
        <div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div>
      </div>
      <!-- User profile text-->
      <div class="profile-text">
        <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Markarn Doe <i class="fa fa-angle-down"></i></a>
        <div class="dropdown-menu animated flipInY">
          <!-- text-->
          <a routerLink="/privilegios" [routerLinkActive]="['router-link-active']" class="dropdown-item"><i class="ti-settings"></i>Privilegios</a>
          <!-- text-->
          <div class="dropdown-divider"></div>
          <!-- text-->
          <a href="login.html" class="dropdown-item"><i class="fa fa-power-off"></i> Salir</a>
          <!-- text-->
        </div>
      </div>
    </div> 
    <!-- End User profile text-->
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="nav-devider"></li>
        <li class="nav-small-cap">PERSONAL</li>
        <li [class.active]="showMenu === 'start'">
          <a routerLink="/starter" (click)="addExpandClass('start')" [routerLinkActive]="['router-link-active']"><i class="icon-speedometer"></i>Principal</a>
          <a routerLink="/tipousuarios" [routerLinkActive]="['router-link-active']"><i class="icon-speedometer"></i>Tipo Usuario</a>
          <a routerLink="/usuarios" [routerLinkActive]="['router-link-active']"><i class="icon-speedometer"></i>Usuario</a>
          <a routerLink="/accordion" [routerLinkActive]="['router-link-active']">Accordion</a>
          <a routerLink="/carousel" [routerLinkActive]="['router-link-active']">Carousel</a>
          <a routerLink="/datepicker" [routerLinkActive]="['router-link-active']">Datepicker</a>
          <a routerLink="/dropdown" [routerLinkActive]="['router-link-active']">Dropdown - Collapse</a>
          <!--<a routerLink="/modal" [routerLinkActive]="['router-link-active']">Modal</a>-->
          <!--<a routerLink="/pagination" [routerLinkActive]="['router-link-active']">Pagination</a>-->
          <!--<a routerLink="/poptool" [routerLinkActive]="['router-link-active']">Popover & Tooltip</a>-->
          <!--<a routerLink="/progressbar" [routerLinkActive]="['router-link-active']">Progressbar</a>-->
          <!--<a routerLink="/rating" [routerLinkActive]="['router-link-active']">Ratings</a>-->
          <!--<a routerLink="/tabs" [routerLinkActive]="['router-link-active']">Tabs</a>-->
          <!--<a routerLink="/timepicker" [routerLinkActive]="['router-link-active']">Timepicker</a>-->
          <!--<a routerLink="/typehead" [routerLinkActive]="['router-link-active']">Typehead</a>-->
          </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
