<br>
<div class="contenedor-camisas">
  <div class="panel-camisas">
    <br>
    <h3>TIPO CAMISA</h3>
    <img #camisa1 src="assets/images/plantilla/p1.png" alt="Nature" (click)="openImg('camisa1')">
    <img #camisa2 src="assets/images/plantilla/p2.png" alt="Nature" (click)="openImg('camisa2')">
    <img #camisa3 src="assets/images/plantilla/p3.png" alt="Nature" (click)="openImg('camisa3')">
    <img #camisa4 src="assets/images/plantilla/p4.png" alt="Nature" (click)="openImg('camisa4')">
  </div>
  <div class="camisa-background" #camisaBg>
    <img #expandedImg style="width:100% ; padding-bottom: revert">
    <div id="imgtext"></div>
  </div>
  <div class="contenedor-telas">
    <h3>TELAS</h3>
    <img src="assets/images/plantilla/t1.jpg" (click)="setBackground($event)">
    <img src="assets/images/plantilla/t2.jpg" (click)="setBackground($event)">
    <img src="https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg" (click)="setBackground($event)">
    <img src="assets/images/plantilla/t3.jpg" (click)="setBackground($event)">
    <img src="assets/images/plantilla/t2.jpg" (click)="setBackground($event)">
    <img src="assets/images/plantilla/t2.jpg" (click)="setBackground($event)">
  </div>
  <br><br>
  <br><br>
  <br><br>
  <hr>
</div>


