<div class="contenedor-camisas">
  <br><br>
  <div class="panel-camisas">
    <br>
    <h4 style="color: #cc0000">TIPO CAMISA</h4>
    <img #camisa1 src="assets/images/plantilla/p1.png" alt="Nature" (click)="openImg('camisa1')">
    <img #camisa2 src="assets/images/plantilla/p2.png" alt="Nature" (click)="openImg('camisa2')">
    <img #camisa3 src="assets/images/plantilla/p3.png" alt="Nature" (click)="openImg('camisa3')">
    <img #camisa4 src="assets/images/plantilla/p4.png" alt="Nature" (click)="openImg('camisa4')">
  </div>

  <div class="camisa-background" #camisaBg>
    <div class="container-fluid" style="background-color: #ffffff">
      <div class="row">
        <div class="col-md-12"><br><br>
          <div class="row">
            <div class="col-md-6">
              <h2>Dieña tu Camisa</h2>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <button class="btn btn-rounded" style="background-color: #cc100a; color: #ffffff">Añadir a Carrito</button>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>


    <img #expandedImg style="width:100% ;height: 80%; padding-bottom: revert">
    <div id="imgtext"></div>

  </div>
  <div class="contenedor-telas">
    <h4 style="color: #cc0000">TELAS</h4>
    <div *ngFor="let camisa of camisas; let i = index">
      <img [src]="environment.base+environment.imagen.camisa+camisa.camisa_id"
           [alt]="camisa.detalle"
           (click)="setBackground($event)"
           height="150">
    </div>
    <img src="assets/images/plantilla/t2.jpg" (click)="setBackground($event)">
  </div>
</div>
<div style="background-color: #ffffff">
  <br><br>
</div>

