<!--<div class="container-fluid" style="background-color: #ffffff">-->
  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--<div class="row">-->
        <!--<div class="col-md-4">-->
          <!--<br>-->
          <!--<h3>Selecciona el tipo de camisa</h3>-->
          <!--<div class="row">-->
            <!--<div class="col-md-12">-->
              <!--<img src="https://i.linio.com/p/e7ad556f25504c845047bd9a43e511ef-product.jpg" alt="" width="25%">-->

            <!--</div>-->
          <!--</div>-->
          <!--<div class="row">-->
            <!--<div class="col-md-12">-->
              <!--<img src="https://i.linio.com/p/e7ad556f25504c845047bd9a43e511ef-product.jpg" alt="" width="25%">-->

            <!--</div>-->
          <!--</div>-->
          <!--<div class="row">-->
            <!--<div class="col-md-12">-->
              <!--<img src="https://i.linio.com/p/e7ad556f25504c845047bd9a43e511ef-product.jpg" alt="" width="25%">-->

            <!--</div>-->
          <!--</div>-->
          <!--<div class="row">-->
            <!--<div class="col-md-12" >-->
              <!--<img src="https://i.linio.com/p/e7ad556f25504c845047bd9a43e511ef-product.jpg" alt="" width="25%">-->

            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
          <!--<br>-->
          <!--<h3>Tu Camisa</h3>-->
          <!--<div style="background-image: url('assets/images/plantilla/t2.jpg')">-->
            <!--<img src="assets/images/plantilla/p1.png" alt="" width="400px">-->
          <!--</div>-->

        <!--</div>-->
        <!--<div class="col-md-4">-->
          <!--<br>-->
          <!--<h3>Selecciona la tela</h3>-->
          <!--<div class="row">-->
            <!--<div class="col-md-4">-->
              <!--<img src="http://www.yarn-fabricgroup.com/Content/upload/2017240656/201708310917124964023.jpg" alt="" width="150px">-->

            <!--</div>-->
            <!--<div class="col-md-4">-->
              <!--<img src="https://static.wixstatic.com/media/3ec304_428591468038469ab6bf6c5dad193ea3~mv2_d_1280_1920_s_2.jpg/v1/fill/w_500,h_500,al_c,q_90/file.jpg" alt="" width="150px">-->

            <!--</div>-->
            <!--<div class="col-md-4">-->
              <!--<img src="http://d26lpennugtm8s.cloudfront.net/stores/092/965/products/d14-057-tela-jogging-algodon1-865f0f6cb82e62a42215281595947507-320-0.jpg" alt="" width="150px">-->

            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<div class="contenedor-camisas">
  <div class="panel-camisas">
    <img #camisa1 src="assets/images/plantilla/p1.png" alt="Nature" (click)="openImg('camisa1')">
    <img #camisa2 src="https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg" alt="Nature" (click)="openImg('camisa2')">
    <img #camisa3 src="assets/images/plantilla/p1.png" alt="Nature" (click)="openImg('camisa3')">
    <img #camisa4 src="https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg" alt="Nature" (click)="openImg('camisa4')">
  </div>
  <div class="camisa-background" #camisaBg>
      <img #expandedImg style="width:100%">
      <div id="imgtext"></div>
  </div>
  <div class="contenedor-telas">
    <img src="https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg" (click)="setBackground($event)">
    <img src="https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg" (click)="setBackground($event)">
    <img src="https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg" (click)="setBackground($event)">
    <img src="https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg" (click)="setBackground($event)">
    <img src="https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg" (click)="setBackground($event)">
    <img src="https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg" (click)="setBackground($event)">

  </div>
</div>

<!-- The grid: four columns -->
<!--<div class="row">
  <div class="column">
  </div>
  <div class="column">
    <img height="120" #camisa2 src="https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg" alt="Snow" (click)="openImg('camisa2')">
  </div>
  <div class="column">
    <img height="120" #camisa3 src="assets/images/plantilla/p1.jpg" alt="Mountains" (click)="openImg('camisa3')">
  </div>
  <div class="column">
    <img height="120" #camisa4 src="https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg" alt="Lights" (click)="openImg('camisa4')">
  </div>
</div>-->

<!-- The expanding image container -->
