<div class="row" >
  <div class="col-md-8">
    <div class="card">
          <div class="card-body" *ngIf="compra !== null">
            <h4 class="card-title">#Factura {{ compra_id }}</h4>
            <h6>A NOMBRE DE {{ compra.nombres | uppercase }} {{ compra.apellidos | uppercase }}</h6>
            <form (submit)="update()" [formGroup]="compraGroup">
              <div class="form-group">
                <label for="numero_guia">Número de guía</label>
                <input type="text"
                       id="numero_guia"
                       class="form-control"
                       formControlName="numero_guia" name="numero_guia">
              </div>
              <button type="submit" class="btn btn-success">Actualizar Guía</button>
            </form>
          </div>
        </div>
  </div>
</div>
