<div class="cliente-container">
  <section class="loading" *ngIf="compras === null">
    <h1><i class="fa fa-exclamation-triangle"></i> No existen productos añadidos al carrito</h1>
  </section>
  <div class="row" *ngIf="compras !== null">

    <div class="col-sm-12 offset-md-1 col-md-10">
      <h3 >Mis Compras</h3>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>N. de Compra</th>
            <th>A nombre de</th>
            <th>Fecha de Compra</th>
            <th>Total</th>
            <th>Estado</th>
            <th>Detalles</th>
            <th title="Subir comprobante de pago">Subir Comprobante</th>
            <th>N. Guía</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let compra of compras; let i = index">
            <td >{{ compra.compra_id | number: '3.0-0' }}</td>
            <td>{{ compra.nombres }} {{ compra.apellidos }}</td>
            <td>{{ compra.fecha | date: 'dd-MM-yyyy' }}</td>
            <td>{{ compra.total | number: '1.2-2'}}</td>
            <td>
                {{ compra.estado }}
            </td>
            <td>
              <a (click)="openModal(contenido, compra.compra_id)"
                 class="detalles">detalles</a>
            </td>
            <td class="text-center">
              <label for="comprobante"
                     *ngIf="compra.comprobante == null"
                     class="comprobante"><i class="fa fa-upload"></i></label>
              <input type="file"
                     #comprobante id="comprobante"
                     (change)="upload(compra.compra_id)">
              <span class="text-primary"
                    *ngIf="compra.comprobante !== null">
                    Comprobante subido
              </span>
            </td>
            <td style="color: #dd0000" class="text-center"> {{ compra.numero_guia }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" align="center">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <br>
            <img alt="Bootstrap Thumbnail First" src="../../../assets/images/servientrega.jpg" width="80%"/>
            <div class="card-block">
              <hr>
              <h5 class="card-title">
                Envíos a todo el País
              </h5>
              <br>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <br> <br>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <a href="https://www.pichincha.com/portal/Principal/Personas/Cuentas" target="_blank"> <img src="../../../assets/images/pichincha.png" width="180px" alt=""></a>
                </div>
                <div class="col-md-6">
                  <a href="https://www.bancodelpacifico.com/personas/canales-de-atencion/virtuales/banca-virtual-intermatico" target="_blank"> <img src="../../../assets/images/pacifico.png" width="180px" alt=""></a>
                </div>
              </div>
            </div>
            <div class="card-block">
              <hr>
              <h5 class="card-title">
                Medios de pago
              </h5>
              <br>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <br>
            <img alt="Bootstrap Thumbnail Third" src="../../../assets/images/paypal.png" width="80%"/>
            <div class="card-block">
              <hr>
              <h5 class="card-title">
                Realiza tu pago desde
              </h5>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Sobre Nosotros</h4>
            <p>Lo más importante es recordar que puedes vestir la mejor ropa o los mejores zapatos, pero tienes que tener un buen espíritu en tu interior.</p>
            <ul class="list-unstyled">
              <li><a href="#"><i class="fa fa-map-marker"></i>Quito - Ecuador</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>+593 98 445 9620</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i>info@frado.ec</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Servicios</h4>
            <ul class="list-unstyled">
              <li><a routerLink="/login">Mi cuenta</a></li>
              <li><a routerLink="/inicio/carrito">Ver carrito</a></li>
              <li><a routerLink="">Lista de deseos</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Encuentranos en</h4>
            <ul class="social-network social-circle">
              <li><a href="#" class="fa fa-facebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="fa fa-facebook" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <h4>Últimas Visitas</h4>
          <a href="http://www.geovisites.com/es/directory/comercio-y-economia_Aeroespacial-y-defensa.php?compte=88n3m297p8al"  target="_blank"><img src="https://geoloc5.geostats.ovh/private/geocounter.php?compte=88n3m297p8al&base=geoloc5" border="0" alt="Aeroespacial y defensa"></a><!--************END CODE GEOCOUNTER************-->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 copy">
          <p class="text-center">Copyright 2018 &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Frado | DTE</p>
        </div>
      </div>

    </div>
  </div>
</footer>


<div class="overlay" #overlay>
  <div class="popup" #popup>
    <button class="close" (click)="closeModal()">
      <i class="fa fa-times"></i>
    </button>
    <h4>Detalles de Compra</h4>
    <h3>Compra # {{ compra_id | number: '3.0-0'}}</h3>
    <div class="table-responsive" *ngIf="detallesCompras !== null">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>N. </th>
          <th>Producto</th>
          <th>Material</th>
          <th>Talla</th>
          <th>Cantidad</th>
          <th>P. Unitario</th>
          <th>Subtotal</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let detalle of detallesCompras; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ detalle.nombre }}</td>
          <td>{{ detalle.material }}</td>
          <td>{{ detalle.talla }}</td>
          <td>{{ detalle.cantidad}}</td>
          <td>{{ detalle.precio | number: '1.2-2' }}</td>
          <td>{{ detalle.subtotal | number: '1.2-2'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
