#comprobante {
  display: none;
}
.comprobante, .detalles {
  cursor: pointer;
}
a.detalles:hover {
  color: #aa0000;
}

/* modal customized */
a.btn-modal {
  color: #d50000;
  cursor: pointer;
}
a.btn-modal:hover {
  color: #c20000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(27, 30, 33, 0.87);

  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
}
.active {
  visibility: visible;
}
.overlay .popup {
  width: 65vw;
  height: 50vh;
  padding: 1em;
  background-color: whitesmoke;
  z-index: 9999999;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px #2a3035;
  transition: .3s ease all;
  transform: scale(.7);
  opacity: 0;
}
.overlay .popup.active {
  transform: scale(1);
  opacity: 1;
}
.overlay .popup img {
  width: 90%;
  display: block;
  margin: 0 auto;
}
.overlay .popup .close {
  display: block;
  font-size: 1em;
  transition: .3s ease all;
  color: #2a3035;
  outline: none;
}
.overlay .popup .close:hover {
  color: #1d2124;
}

/* end modal customized */
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

.widget_blog_subscription {
  display: block;
  margin: 50px auto;
  width: 60%;
  max-width: 800px;
  min-width: 350px;
  position: relative;
  overflow: hidden;
  background-color: #F6F6F2;
  border-radius: 5px;
  padding: 50px;
  background-color: #fff;
  background-size: 100% 1em;
  background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.05) 79px, #abced4 79px, #abced4 81px, rgba(0, 0, 0, 0.03) 81px),
  -webkit-linear-gradient(#eee .05em, transparent .05em);
  background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.05) 79px, #abced4 79px, #abced4 81px, rgba(0, 0, 0, 0.03) 81px),
  -moz-linear-gradient(#eee .05em, transparent .05em);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 79px, #cc0000 79px, #cc0000 81px, rgba(0, 0, 0, 0.03) 81px),
  linear-gradient(#eee .05em, transparent .05em);
}
.widget_blog_subscription p {
  margin: 0;
  text-align: center;
}
.widget_blog_subscription p:first-child {
  margin: 0 0 30px;
  color: #cc0000;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
}
.widget_blog_subscription p:nth-child(2) {
  width: 65%;
  float: left;
}
.widget_blog_subscription p:nth-child(3) {
  width: 35%;
  float: left;
}
.widget_blog_subscription input[type="text"] {
  margin: 0;
  color: #999;
  padding: 15px !important;
  text-align: left;
  width: 100% !important;
  outline: none;
  border: 0;
  font-size: 14px;
  background-color: #fff;
}
.widget_blog_subscription input[type="text"]::-webkit-input-placeholder {
  color: #d0d0d0;
}
.widget_blog_subscription input[type="text"]:-moz-placeholder {
  color: #d0d0d0;
}
.widget_blog_subscription input[type="text"]::-moz-placeholder {
  color: #d0d0d0;
}
.widget_blog_subscription input[type="text"]:-ms-input-placeholder {
  color: #d0d0d0;
}
.widget_blog_subscription input[type="submit"] {
  margin: 0;
  background-color: #cc0000;
  color: #fff;
  padding: 16px !important;
  text-align: center;
  width: 100%;
  outline: none;
  border: 0;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  -webkit-transition: .1s all ease-in-out;
  -moz-transition: .1s all ease-in-out;
  -o-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
}
.widget_blog_subscription input[type="submit"]:hover {
  background-color: #F29B91;
  box-shadow: 0px 0px 0px 5px #F29B91;
}


h1 {
  text-align: center;
  margin: 30px 15px;
}

/*FOOTER*/

footer {
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #524f47, #16222A);
  background: linear-gradient(59deg, #040202, #16222A);
  color: white;
  margin-top:100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #cc0000;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}
