<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header" style="background-color: #040202;">
            <a class="navbar-brand" href="index.html">
              <h3 style="color: #f7f7f7">&nbsp;&nbsp;STORE</h3>
            </a>
        </div>
        <a [routerLink]="['/inicio']" class="dropdown-item" style="text-align: right"><i class="fa fa-power-off" ></i>&nbsp;&nbsp;&nbsp;Salir &nbsp;&nbsp;&nbsp;&nbsp;</a>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
        <ul class="navbar-nav mr-auto mt-md-0">
            <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="icon-arrow-left-circle ti-menu"></i></a> </li>
        </ul>
    </div>
    </nav>

</header>