.portada{
    background: url('/../../assets/images/background/login-register.jpg') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
}
.opacity {
    background-color: #040202;
    color: #ffffff;
}