<section class="loading" *ngIf="cartItems.subtotal == 0">
  <h1><i class="fa fa-exclamation-triangle"></i> No existen productos añadidos al carrito</h1>
</section>
<div class="row carrito-container" *ngIf="cartItems.subtotal > 0">
  <div class="offset-2 col-md-8">
    <h3 style="color: #cc0000">Carrito de Compras</h3>

    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>N.</th>
        <th>PRODUCTO</th>
        <th>NOMBRE</th>
        <th>TALLA</th>
        <th>PUNTOS</th>
        <th>CANT.</th>
        <th>V.UNIT.</th>
        <th>V.TOTAL</th>
        <th>ELIMINAR</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let producto of cartItems.items; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          <img src="{{producto_img_url}}{{producto.producto_id}}" height="80">
        </td>
        <td>{{ producto.producto.nombre }}</td>
        <td>{{ producto.talla }}</td>
        <td>{{ producto.puntos }}</td>
        <td>{{ producto.cantidad }}</td>
        <td>{{ producto.precio }}</td>
        <td>{{ producto.cantidad * producto.precio }}</td>
        <td class="text-center"><button class="btn btn-sm btn-danger" (click)="destroy(producto, i)"><i class="fa fa-trash"></i></button></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-right">Valor Envio</td>
        <td><strong>4.25</strong></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-right">Total</td>
        <td><strong>${{ cartItems.subtotal+4.25 }}</strong></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row carrito-container" *ngIf="cartItems.subtotal > 0">
  <div class="offset-2 col-md-8 text-center">
    <button
      (click)="comprar()"
      class="btn btn-red btn-rounded">Comprar</button>
  </div>
</div>
<div class="bg-white text-center">
  <button
    routerLink="/inicio/categorias"
    class="btn btn-info"><i class="fa fa-cart-plus"></i> Seguir añadiendo a carrito...</button>
</div>
