<div class="cliente-container">
  <div class="row">
    <div class="offset-1 col-10">
      <h3>Mi Lista de Deseos</h3>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>N.</th>
            <th>Producto</th>
            <th>Nombre</th>
            <th>Material</th>
            <th>Colores</th>
            <th>Eliminar</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of lista_deseos; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
              <img
                height="80"
                src="{{base}}lista-deseos-imagen/{{item.imagen.split('/')[1]}}" [alt]="item.nombre">
            </td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.material }}</td>
            <td>
              <span class="circle" [ngStyle]="{'background-color': item.color1 }"></span>
              <span class="circle" [ngStyle]="{'background-color': item.color2 }"></span>
            </td>
            <td>
              <button
                (click)="destroy(item.lista_deseo_id, i)"
                class="btn btn-sm btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
