<div class="container-fluid">
    <div class="row" style="background-color: #1b1e21">
        <div class="col-md-12">
            <ul class="nav">
                <li>
                    <a href="/"> <img src="../../../assets/inicio/img/logo.png" width="200px" alt=""></a>
                </li>
                <li class="nav-item dropdown ml-md-auto">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" style="color: #f7f7f7">Bienvenid@ {{ cuenta }}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" routerLink="/admin/perfil">Perfil</a>
                        <a class="dropdown-item" (click)="go('usuarios')">Usuario</a>
                        <div class="dropdown-divider">
                        </div> <a class="dropdown-item" (click)="logout()">Cerrar Sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr>