<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
        <h2 *ngIf="categoria !== null">{{ categoria.nombre | uppercase }}</h2>
          <hr>
      <p>Ordenar por:</p>
          <select [(ngModel)]="ordenar_por" (change)="filtrar()"
                  class="custom-select sources" placeholder="Ordenar por: ">
            <option value="nombre_asc">Nombre: A - Z</option>
            <option value="nombre_desc">Nombre: Z - A</option>
            <option value="fecha_desc">Fecha: Nuevo a Antiguo</option>
            <option value="fecha_asc">Fecha: Antiguo a Nuevo</option>
          </select>
      <br>
      <br>
      <p>Seleccione material:</p>
      <select [(ngModel)]="ordenar_por" (change)="filtrar()"
              class="custom-select sources" placeholder="Ordenar por: ">
        <option value="nombre_asc">Seda</option>
        <option value="nombre_desc">Algodon</option>
        <option value="fecha_desc">Polo</option>
        <option value="fecha_asc">Jean</option>
      </select>
      <br>
      <br>
      <p>Seleccione color:</p>
      <select [(ngModel)]="ordenar_por" (change)="filtrar()"
              class="custom-select sources" placeholder="Ordenar por: ">
        <option value="nombre_asc">Amarillo</option>
        <option value="nombre_desc">Rojo</option>
        <option value="fecha_desc">Azul</option>
        <option value="fecha_asc">Negro</option>
      </select>

    </div>
    <div class="col-md-10">
      <section class="loading" *ngIf="categoria === null">
        <i class="fa fa-spinner fa-spin"></i>
      </section>
      <ng-template ngIf="categoria !== null">
        <section class="loading" *ngIf="categoria !== null && productos !== null && productos.length === 0">
          <h1><i class="fa fa-exclamation-triangle"></i> No existen productos en esta categoría</h1>
        </section>
        <section class="products" *ngIf="productos !== null">
          <div class="product-card" *ngFor="let producto of productos">
            <div class="product-image">
              <img [src]="environment.base + environment.imagen.producto + producto.producto_id" height="400px" >
            </div>
            <div class="product-info">
              <h5>{{ producto.puntos }}</h5>
              <h6>{{ producto.descripcion }}</h6>
              <button class="wishlist"
                      (click)="addWishList(producto.producto_id)"
                      title="Añadir a la lista de deseos"><i class="fa fa-heart-o"></i></button>
              <div class="text-center">
                <div class="color" [ngStyle]="{'background-color' : producto.color1}"></div>
                <div class="color" [ngStyle]="{'background-color' : producto.color2}"></div>
              </div>
              <div class="btn-container">
                <button
                        [routerLink]="['/inicio/producto/' + producto.producto_id]"
                        class="btn btn-rounded btn-danger">Ver {{ producto.nombre }}</button>
              </div>
            </div>
          </div>
        </section>
      </ng-template>
    </div>
  </div>
</div>


