.contenedor-camisas {
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contenedor-camisas h3 {
  text-align: left;
  color: #dd0000;
  border-bottom: 1px solid #dd0000;
  padding: .5em .35em;
}
.panel-camisas {
  width: 20%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.panel-camisas > img {
  width: 120px;
  height: 133px;
  margin-top: 24px;
  box-sizing: border-box;
  padding: .5em;
  border: 1px solid lightgray;
}
.panel-camisas > img:hover {
  border: 1px solid darkslategray;
}
.img-active {
  display: block;
  border: 1px solid darkslategray;
}
.camisa-background {
  width: 50%;
  height: 100%;
  background-color: white;
  position: relative;
}
.camisa-background > img {
  border: none;
  width: 70%;
  height: 80%;
}
.contenedor-telas {
  width: 30%;
  height: 100%;
  background-color: white;
  position: relative;
  text-align: center;
  box-sizing: border-box;
}
.contenedor-telas h3 {
  text-align: left;
  color: #dd0000;
  border-bottom: 1px solid #dd0000;
  padding: .5em .35em;
}
.contenedor-telas img {
  width: 33%;
  height: 72px;
  padding: .5em;
  float: left;
  cursor: pointer;
  transition: .3s ease;
}
.contenedor-telas img:hover{
  background-color: #cc0000;
  padding: .25em;
  border: .25em solid white;
}

