.product-size {
  display: inline-block;
  width: 38px;
  height: 38px;
  padding: 4px;
  margin-right: .2em;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  box-sizing: border-box;
  border: 1px solid #d50000;
  color: #d50000;
  transition: .5s ease;
  cursor: pointer;
}
.product-size:hover, .product-size-active{
  background-color: #d50000;
  color: white;
}
.gallery-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
/*  max-height: 550px;
  overflow-y: auto;*/
  padding: 1em;
  margin-bottom: 2em;
  align-items: center;
}
.gallery-column img {
  padding: .5em;
  width: 100px;
  height: 130px;
  box-sizing: border-box;
  margin: 1em 0;
  cursor: pointer;
  transition: .2s ease;
}
.gallery-column img:hover{
  border: 1px solid gray;
}
img.gallery-column-active {
  border: 1px solid #cc0000;
}
img.gallery-column-inactive {
  border: 1px solid white;
}
.product-links {
  text-align: right;
}
.product-links a {
  margin-right: 2.2em;
  color: #ff1300;
  transition: .5s ease;
}
.product-links a:hover {
  margin-right: 2.2em;
  color: #000000;
}

/* modal customized */
a.btn-modal {
  color: #d50000;
  cursor: pointer;
}
a.btn-modal:hover {
  color: #c20000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(27, 30, 33, 0.87);

  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
}
.active {
  visibility: visible;
}
.overlay .popup {
  width: 60vw;
  height: 90vh;
  padding: 1em;
  background-color: whitesmoke;
  z-index: 9999999;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px #2a3035;
  transition: .3s ease all;
  transform: scale(.7);
  opacity: 0;
}
.overlay .popup.active {
  transform: scale(1);
  opacity: 1;
}
.overlay .popup img {
  width: 90%;
  display: block;
  margin: 0 auto;
}
.overlay .popup .close {
  display: block;
  font-size: 1em;
  transition: .3s ease all;
  color: #2a3035;
  outline: none;
}
.overlay .popup .close:hover {
  color: #1d2124;
}
/* end popup */
