<div class="cliente-container">
  <div class="row">
    <div class="offset-1 col-10">
      <h3>Mi Lista de Deseos</h3>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>N.</th>
            <th>Producto</th>
            <th>Nombre</th>
            <th>Material</th>
            <th>Colores</th>
            <th>Eliminar</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of lista_deseos; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
              <img
                height="80"
                src="{{base}}lista-deseos-imagen/{{item.imagen.split('/')[1]}}" [alt]="item.nombre">
            </td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.material }}</td>
            <td>
              <span class="circle" [ngStyle]="{'background-color': item.color1 }"></span>
              <span class="circle" [ngStyle]="{'background-color': item.color2 }"></span>
            </td>
            <td>
              <button
                (click)="destroy(item.lista_deseo_id, i)"
                class="btn btn-sm btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Sobre Nosotros</h4>
            <p>Lo más importante es recordar que puedes vestir la mejor ropa o los mejores zapatos, pero tienes que tener un buen espíritu en tu interior.</p>
            <ul class="list-unstyled">
              <li><a href="#"><i class="fa fa-map-marker"></i>Quito - Ecuador</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>+593 98 445 9620</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i>info@frado.ec</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Servicios</h4>
            <ul class="list-unstyled">
              <li><a routerLink="/login">Mi cuenta</a></li>
              <li><a routerLink="/inicio/carrito">Ver carrito</a></li>
              <li><a routerLink="">Lista de deseos</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Encuentranos en</h4>
            <ul class="social-network social-circle">
              <li><a href="#" class="fa fa-facebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="fa fa-facebook" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <h4>Últimas Visitas</h4>
          <a href="http://www.geovisites.com/es/directory/comercio-y-economia_Aeroespacial-y-defensa.php?compte=88n3m297p8al"  target="_blank"><img src="https://geoloc5.geostats.ovh/private/geocounter.php?compte=88n3m297p8al&base=geoloc5" border="0" alt="Aeroespacial y defensa"></a><!--************END CODE GEOCOUNTER************-->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 copy">
          <p class="text-center">Copyright 2018 &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Frado | DTE</p>
        </div>
      </div>

    </div>
  </div>
</footer>