<div class="container-fluid banner" style="background-color: #1b1e21">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav">
        <li>
          <a href="/"> <img src="../../../assets/inicio/img/logo.png" width="200px" alt=""></a>
        </li>
        <li class="nav-item">
          <br>
          <a  style="color: #f7f7f7" routerLink="/inicio/categorias">Mejores ofertas</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <br>
          <a style="color: #f7f7f7" [routerLink]="['design']">Diseña tu manilla</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <br>
          <a  style="color: #f7f7f7" [routerLink]="['camisas']" >Personaliza tu camisa</a>
        </li>
        <li class="nav-item">
          <br>
          <form *ngIf="categorias !== null" class="form-inline my-2 my-lg-0">
          <select [(ngModel)]="busqueda.categoria_id"
                  (change)="go(busqueda.categoria_id)"
                  name="categoria_id" class="custom-select sources" placeholder="Buscar Producto" style="width: 200px; height: 2em; background-color: #f7f7f7">
            <option [value]="categoria.categoria_id"
                    class="form-control"
                    *ngFor="let categoria of categorias">{{ categoria.nombre | uppercase }}</option>
          </select>
        </form></li>
        <li class="nav-item  ml-md-auto">
          <div class="header-ctn">
            <!-- Wishlist -->
            <div>
              <a href="#">
                <i class="fa fa-heart-o"></i>
                <span>Tus Deseos</span>
                <div class="qty">2</div>
              </a>
            </div>
            <!-- /Wishlist -->
          </div>
        </li>
        <li class="nav-item  ml-md-auto">

          <div class="header-ctn" style="color: #ffffff">
            <div>
              <a class="cart-menu"
                 (click)="openCart()">
                <i class="fa fa-shopping-cart"></i>
                <span>Tú Carrito</span>
                <div class="qty">{{ cartItems.cantidad_total }}</div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown ml-md-auto">
          <br>
          <a style="color: #ffffff" *ngIf="usuario === null" [routerLink]="['/login']">   Inicias Sesion </a>
          <a style="color: #ffffff" *ngIf="usuario !== null && usuario.tipo_usuario === 'administrador'" [routerLink]="['/admin']"> Bienvinid@ {{ usuario.cuenta }} &nbsp;&nbsp;</a>
          <a style="color: #ffffff" *ngIf="usuario !== null && usuario.tipo_usuario === 'cliente'" [routerLink]="['/cliente']"> Bienvinid@ {{ usuario.cuenta }} &nbsp;&nbsp;</a>
        </li>
      </ul>

    </div>
  </div>
</div>


<div class="overlay" #overlay>
  <div class="popup" #popup>
    <button class="close" (click)="closeCart()">
      <i class="fa fa-times"></i>
    </button>
    <h3>Tú Carrito</h3>
    <div class="cart-list">
      <div class="product-widget" *ngFor="let producto of cartItems.items; let i = index">
        <div class="product-img">
          <img src="{{producto_img_url}}{{producto.producto_id}}">
        </div>
        <div class="product-body">
          <h3 class="product-name"><a href="#">{{ producto.producto.nombre }} - Talla {{ producto.talla }}</a></h3>
          <h4 class="product-price"><span class="qty">{{ producto.cantidad }}x</span>$ {{ producto.precio | number: '1.2-2'}}</h4>
        </div>
        <button class="delete pointer" (click)="destroy(producto, i)"><i class="fa fa-close"></i></button>
      </div>
    </div>

    <div class="cart-controls">
      <div class="cart-summary">
        <small>{{ cartItems.cantidad_total }} Productos(s) seleccionados</small>
        <h5>TOTAL: $ {{ cartItems.subtotal | number: '1.2-2'}}</h5>
      </div>
      <div class="cart-buttons">
        <button *ngIf="cartItems.subtotal !== 0"
                title="Carrito de compras"
                (click)="carrito()">
          <i class="fa fa-cart-plus"></i>
        </button> &nbsp;&nbsp;
        <button *ngIf="cartItems.subtotal !== 0"
                title="Comprar"
                (click)="comprar()">
          <i class="fa fa-usd"></i>
        </button>
      </div>
    </div>
  </div>
</div>


