<div class="workspace">
  <div class="panel">
    <div class="panel-section">
      <div class="panel-section-title">
        Pulseras
        <button class="btn btn-xs btn-success btn-right" (click)="cambiarPulseras()">
          <i class="fa fa-plus" *ngIf="circulo.renderizado"></i>
          <i class="fa fa-minus" *ngIf="!circulo.renderizado"></i>
        </button>
      </div>
      <div class="panel-section-grid">
        <img [src]="env.base + env.imagen.manilla + pulsera.manilla_id"
             *ngFor="let pulsera of pulseras"
             (click)="cambiarItems(pulsera.manilla_id)">
      </div>
    </div>
    <div class="panel-section">
      <div class="panel-section-title">Dijes</div>
      <div class="panel-section-grid">
        <img [src]="env.base + env.imagen.manilla + dije.manilla_id"
             (click)="cambiarItem(dije.manilla_id)"
             *ngFor="let dije of dijes">
      </div>
    </div>
    <div class="panel-section">
      <div class="panel-section-title">Separadores</div>
      <div class="panel-section-grid">
        <img [src]="env.base + env.imagen.manilla + separador.manilla_id"
             (click)="cambiarItem(separador.manilla_id)"
             *ngFor="let separador of separadores">
      </div>
    </div>
  </div>
  <div class="canvas">
    <div class="canvas-title">Diseño de Pulseras</div>
    <div (mousedown)="redraw($event)" id="canvas"></div>
  </div>
  <div class="controls">
    <div class="controls-title">
      Controles
    </div>
    <div class="controls-content">
      <div class="cruceta">
        <button (click)="moverArr()"><i class="fa fa-angle-up"></i></button>
        <button (click)="moverDer()"><i class="fa fa-angle-right"></i></button>
        <button (click)="moverAba()"><i class="fa fa-angle-down"></i></button>
        <button (click)="moverIzq()"><i class="fa fa-angle-left"></i></button>
      </div>
      <div class="giros">
        <button (click)="girarIzq()">
          <i class="fa fa-undo"></i>
        </button>
        <button (click)="girarDer()">
          <i class="fa fa-repeat"></i>
        </button>
      </div>
      <button (click)="girar()">girar</button>
    </div>
  </div>
</div>
