.workspace {
  padding: 1% 1.5%;
  display: flex;
  flex-direction: row;
  background-color:#ffffff;
  height: 37.5rem;
}
div#wksp.workspace {
  width: 100% !important;
}
.workspace .panel {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
}
.panel-section {
  display: flex;
  flex-direction: column;
  background-color: #f7fff9;
}
.panel-section .panel-section-title {
  background-color: #1b4b72;
  color: white;
  padding: .5em 0;
  text-align: center;
  text-transform: uppercase;
}
.panel-section .panel-section-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  margin-bottom: 1em;
}
.panel-section .panel-section-grid img{
  display: block;
  width: 3rem;
  height: 3rem;
  padding: .375rem;
  box-sizing: border-box;
  cursor: pointer;
}
.workspace .controls {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
}
.controls .controls-title {
  width: 100%;
  padding: .5em 0;
  box-sizing: border-box;
  background-color: #1b4b72;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.controls .controls-content{
  display: flex;
  background-color: #f7fff9;
  flex-direction: column;
/*  justify-content: center;*/
  align-items: center;
  height: 100%;
}
.canvas {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  text-align: center;
  background-color: eafbff;
}
.canvas .canvas-title{
  background-color: #505f77;
  padding: .5em 0;
  color: white;
  text-transform: uppercase;
}
#canvas {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  cursor: pointer;
/*  background-color: #00aff0;*/
/*  background-color: #1b1e21;*/
  background-color: rgba(205, 246, 255, 0);

}
.cruceta {
  display: block;
  position: relative;
  margin-top: 3em;
  width: 6.25rem;
  height: 6.25rem;
/*  background-color: #e66262;*/
}
.giros {
  display: block;
  position: relative;
  margin-top: 3em;
  width: 6.25rem;
  height: 2.083rem;
}
.giros button {
  border: none;
  background-color: #1b4b72;
  color: white;
  cursor: pointer;
  outline: none;
}
.giros button:first-child {
  position: absolute;
  width: 2.083rem;
  height: 2.083rem;
  left: 0;
}
.giros button:last-child {
  position: absolute;
  width: 2.083rem;
  height: 2.083rem;
  right: 0;
}
.cruceta button {
  display: block;
  width: 2.083rem;
  height: 2.083rem;
  border: none;
  text-align: center;
  font-weight: bold;
  background-color: #e66262;
  color: white;
  cursor: pointer;
  outline: none;
}
/*top*/
.cruceta button:first-child {
  position: absolute;
  top: 0;
  left: 2.083rem;
}
/*right*/
.cruceta button:nth-child(2) {
  position: absolute;
  top: 2.083rem;
  right: 0;
}
/*bottom*/
.cruceta button:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 2.083rem;
}
/*left*/
.cruceta button:last-child {
  position: absolute;
  top: 2.083rem;
  left: 0;
}
.btn-right {
  float: right;
}
