<div class="cliente-container">
  <section class="loading" *ngIf="compras === null">
    <h1><i class="fa fa-exclamation-triangle"></i> No existen productos añadidos al carrito</h1>
  </section>
  <div class="row" *ngIf="compras !== null">
    <div class="col-sm-12 offset-md-1 col-md-10">
      <h3>Mis Compras</h3>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>N. de Compra</th>
            <th>A nombre de</th>
            <th>Fecha de Compra</th>
            <th>Total</th>
            <th>Estado</th>
            <th>Detalles</th>
            <th title="Subir comprobante de pago">Subir Comprobante</th>
            <th>N. Guía</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let compra of compras; let i = index">
            <td>{{ compra.compra_id }}</td>
            <td>{{ compra.nombres }} {{ compra.apellidos }}</td>
            <td>{{ compra.fecha | date: 'dd-MM-yyyy' }}</td>
            <td>{{ compra.total | number: '1.2-2'}}</td>
            <td>
                {{ compra.estado }}
            </td>
            <td>
              <a (click)="openDetalles(contenido, compra.compra_id)" class="detalles">detalles</a>
            </td>
            <td class="text-center">
              <label for="comprobante"
                     *ngIf="compra.comprobante == null"
                     class="comprobante"><i class="fa fa-upload"></i></label>
              <input type="file"
                     #comprobante id="comprobante"
                     (change)="upload(compra.compra_id)">
              <span class="text-primary"
                    *ngIf="compra.comprobante !== null">
                    Comprobante subido
              </span>
            </td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<ng-template #contenido let-modal let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Detalles de Compra</h4>
    <button type="button" class="close cerrar" aria-label="Cerrar" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>N. </th>
          <th>Producto</th>
          <th>Material</th>
          <th>Talla</th>
          <th>Cantidad</th>
          <th>P. Unitario</th>
          <th>Subtotal</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let detalle of detallesCompras; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ detalle.nombre }}</td>
          <td>{{ detalle.material }}</td>
          <td>{{ detalle.talla }}</td>
          <td>{{ detalle.cantidad}}</td>
          <td>{{ detalle.precio | number: '1.2-2' }}</td>
          <td>{{ detalle.subtotal | number: '1.2-2'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<div class="container-fluid" align="center" style="background-color: #ffffff">

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <br><br><br>
          <h3>Envíos a todo el País</h3>
          <h5>Sigue tu producto con el numero de guia</h5><br>
          <a href="http://www.servientrega.com.ec/" target="_blank"> <img src="../../../assets/images/servientrega.jpg" alt=""></a>
        </div>
        <div class="col-md-4">
          <br><br><br>
          <h3>Medios de pago</h3>
          <h5>Realiza tus transferencias desde:</h5><br>
          <a href="https://www.pichincha.com/portal/Principal/Personas/Cuentas" target="_blank"> <img src="../../../assets/images/pichincha.png" width="180px" alt=""></a>
          <a href="https://www.bancodelpacifico.com/personas/canales-de-atencion/virtuales/banca-virtual-intermatico" target="_blank"> <img src="../../../assets/images/pacifico.png" width="180px" alt=""></a>

        </div>
        <div class="col-md-4">
          <br><br><br>
          <h3>Realiza tu pago desde</h3>
          <img src="../../../assets/images/paypal.png" width="300px" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<footer id="footer">
  <div id="bottom-footer" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <span class="copyright">
			Copyright 2018 &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Frado | DTE
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>

