<div class="cliente-container">
  <section class="loading" *ngIf="compras === null">
    <h1><i class="fa fa-exclamation-triangle"></i> No existen productos añadidos al carrito</h1>
  </section>
  <div class="row" *ngIf="compras !== null">
    <div class="col-sm-12 offset-md-1 col-md-10">
      <h3>Mis Compras</h3>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>N. de Compra</th>
            <th>A nombre de</th>
            <th>Fecha de Compra</th>
            <th>Total</th>
            <th>Estado</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let compra of compras; let i = index">
            <td>{{ compra.compra_id }}</td>
            <td>{{ compra.nombres }} {{ compra.apellidos }}</td>
            <td>{{ compra.fecha | date: 'dd-MM-yyyy' }}</td>
            <td>{{ compra.total }}</td>
            <td>{{ compra.estado }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
