/* You can add global styles to this file, and also import other style files */
.content-frado {
  min-height: 600px;
  padding: 2em 0;
  box-sizing: border-box;
}
.product-frado {
  display: inline-block;
  width: 22%;
}
.product-frado-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.product-rating-frado {
  width: 100%;
  color: #e63e5c;
}
.color {
  display: inline-block;
  width: 24px;
  height: 24px;
}
a.cart-menu {
  display: block;
  cursor: pointer;
  color: white;
}
.show {
  display: block;
  position: absolute;
  background-color: white;
  width: 300px;
  overflow-y: auto;
  z-index: 10000;
  right: 0px;
}
.show > .cart-list {
  height: 190px;
  padding: 1em;
  box-sizing: border-box;
  overflow-y: auto;
}
.hide {
  display: none;
}
.cart-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  margin-top: -1em;
  padding: 0 .5em .5em .5em;
}
.cart-buttons > a{
  display: block;
  color: whitesmoke;
  width: 50%;
  text-align: center;
  padding: .5em 0;
  margin: 0;
}
.cart-buttons > a:first-child{
  background-color: #e62847;
}
.cart-buttons > a:last-child{
  background-color: #1b1e21;
}
.cart-buttons > a:hover{
  opacity: .9;
  transition: .2s ease;
  color: whitesmoke;
}
.cart-summary {
  padding: 1em;
  box-sizing: border-box;
}
.cart-summary > h5{
  font-weight: bolder;
  color: black;
}
.product-name > a, .product-name > a:hover {
  color: black;
}
.product-price {
  margin-top: -10px;
}
.black {
  color: black;
}
