/* You can add global styles to this file, and also import other style files */
.content-frado {
  min-height: 600px;
  padding: 2em 0;
  box-sizing: border-box;
}
.product-frado {
  display: inline-block;
  width: 22%;
}
.product-frado-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.product-rating-frado {
  width: 100%;
  color: #e63e5c;
}
