<div class="row black">
  <div class="col-md-12">
    <section id="banner">
      <video autoplay loop muted playsinline src="../../../assets/images/banner.mp4"></video>
    </section>
  </div>
</div>

<h1> Nuestras Ofertas y Promociones</h1>

<div id="carousel" class="carousel slide"  data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item" [ngClass]="{'active' : 0 == i}" *ngFor="let promocion of promociones; let i=index">
      <img width="100%" [src]="environment.base+environment.imagen.promocion+promocion.promocion_id" alt="" height="500px">
    </div>
  </div>
</div>
<h1> Categoria Productos</h1>
<section class="categories">
  <div class="category-card" *ngFor="let categoria of categorias">
    <div class="category-image">
      <img [src]="environment.base + environment.imagen.categoria + categoria.categoria_id">
    </div>
    <div class="category-info">
      <!--<h5>{{ categoria.nombre | uppercase }}</h5>-->
      <h6>{{ categoria.descripcion }}</h6>
      <div class="btn-container">
        <button
          [routerLink]="['/inicio/productos/' + categoria.categoria_id]"
          class="btn btn-rounded btn-danger btn-card">VER {{ categoria.nombre | uppercase }}</button>
      </div>
    </div>
  </div>
</section>
