<div style="text-align:center; margin:10px;font-size: 25px; ">
  Ofertas
</div>
<ui-carousel [infinite]="true" [fade]="false" [speed]="220" height="500px" width="100%" >
  <ui-carousel-item>
    <div class="product-item">
      <img src="../../../assets/inicio/img/carousel/producto1.png" alt="">
    </div>
    <div class="button">Comprar</div>
  </ui-carousel-item>
  <ui-carousel-item>
    <div class="product-item">
      <img src="../../../assets/inicio/img/carousel/producto2.png" alt="">
    </div>
    <div class="button">Comprar</div>
  </ui-carousel-item>
  <ui-carousel-item>
    <div style="background:#e74c3c" class="text" >3</div>
    <div class="button">Comprar</div>
  </ui-carousel-item>
  <ui-carousel-item>
    <div style="background:#f1c40f" class="text">4</div>
    <div class="button">Comprar</div>
  </ui-carousel-item>
  <ui-carousel-item>
    <div style="background:#16a085" class="text">5</div>
    <div class="button">Comprar</div>
  </ui-carousel-item>
</ui-carousel>

<section class="categories">
  <div class="category-card" *ngFor="let categoria of categorias">
    <div class="category-image">
      <img [src]="categoria.imagen" alt="">
    </div>
    <div class="category-info">
      <h5>{{ categoria.nombre }}</h5>
      <h6>{{ categoria.descripcion }}</h6>
      <div class="btn-container">
        <button
          [routerLink]="['/inicio/productos/' + categoria.categoria_id]"
          class="btn btn-rounded btn-danger">Ver {{ categoria.nombre }}</button>
      </div>
    </div>
  </div>
</section>
